body {
  margin: auto;
  padding: auto;
  height: 3000px;
  width: auto;
  background-color: burlywood; }

h1 {
  background-color: cadetblue; }

main {
  background-color: crimson;
 

}

ul {
  position: auto; }
